TRUSTSTORE_PASSWORD=changeit
KEYSTORE_PASSWORD=changeit

INITIAL_ADMIN_IDENTITY=CN=Claus Stadler,OU=People,DC=aksw,DC=org
LDAP_MANAGER_DN=CN=ClausStadler,OU=People,DC=aksw,DC=org
LDAP_MANAGER_PASSWORD=ldappwd
LDAP_USER_SEARCH_BASE=OU=People,DC=aksw,DC=org

