# Change me
KEYSTORE_PASSWORD=
LDAP_MANAGER_PASSWORD=
NIFI_REGISTRY_WEB_PROXY_HOST=0.0.0.0
NIFI_VERSION=1.7.1
NIFI_REGISTRY_VERSION=0.2.0
NIFI_WEB_PROXY_HOST=0.0.0.0
TRUSTSTORE_PASSWORD=

NIFI_BASE_DIR=/opt/nifi
NIFI_NAR_DIR=/opt/nifi/nar

AUTH=ldap
CSR_SUBJ=/C=DE/ST=LEIPZIG/L=LEIPZIG/O=AKSW/OU=QROWD/CN=nifi.qrowd.aksw.org
INITIAL_ADMIN_IDENTITY=uid=nifi,ou=Accounts,dc=aksw,dc=org
KEYSTORE_PATH=/opt/certs/keystore.jks
KEYSTORE_TYPE=JKS
LDAP_AUTHENTICATION_STRATEGY=SIMPLE
LDAP_IDENTITY_STRATEGY=USE_DN
LDAP_MANAGER_DN=uid=nifi,ou=Accounts,dc=aksw,dc=org
LDAP_URL=ldap://ldap.aksw.org
LDAP_USER_SEARCH_BASE=DC=aksw,DC=org
LDAP_USER_SEARCH_FILTER=(|(cn={0})(uid={0}))
NIFI_REGISTRY_WEB_HTTPS_PORT=19090
NIFI_WEB_HTTPS_PORT=8443
TRUSTSTORE_PATH=/opt/certs/truststore.jks
TRUSTSTORE_TYPE=JKS

